.fond{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url("/presentation/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-menu{
    margin-left: 300px;
}

.item-custom{
    padding-left: 60px;
}

.logo-menu{
    width: 50px;
    height: 50px;
}

.stat-container{
    align-items: center;
    justify-content:space-evenly;
    height: 100px;
    margin-top: 180px;
    display: flex;
    flex-direction: row;
}

.pos-box{
    min-width: 300px;
    width: 25%;
    text-align: center;
    background-color: #43ff64d9;
}

.stat-titre{
    font-size: 38px;
    font-family: "Bruno Ace SC", sans-serif;
}

.stat-chiffre{
    font-size: 26px;
    color:#fca503;
}

.about-stat-container{
    text-align: center;
    align-items: center;
}

.form{
    text-align: left;
}

.remember-me{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-connect{
    margin-top: 50px;
    margin-bottom: 20px;

}

.titre-tableau{
    padding-left:100px;
    padding-top: 50px;
    font-size:28px;
    color: #03b1fc;
}

.custom-table{
    margin-left:100px;
}

.saisie1{
    padding-top: 200px;
    display:flex;
    flex-direction: row;
    gap: 30px;
}

.save-btn{
    margin-top: 50px;
    margin-left: 300px;
}

.bloc-saut{
    display: flex;
    flex-flow: column nowrap;
    padding-left:15px;
    padding-right:10px;
    margin-left: 250px;
    width: 350px;
    height: auto;
    border: 1px solid #B3B3B3;
    border-radius: 2px;
}

.bloc-materiel{
    display: flex;
    flex-flow: column nowrap;
    padding-left:15px;
    padding-right:10px;
    padding-bottom: 20px;
    width: 450px;
    height: auto;
    border: 1px solid #B3B3B3;
    border-radius: 2px;
}

.bloc-header{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #03b1fc;
}

.custom-check{
    /*left:70%;*/
}

.bloc-details{
    display: flex;
    flex-flow: column nowrap;
    padding-left:15px;
    padding-right:10px;
    width: 350px;
    height: auto;
    border: 1px solid #B3B3B3;
    border-radius: 2px;
}

.cust-form{
    margin-top: 100px;
    margin-left: 200px;
}

.marge-haut-page{
    margin-top: 200px;
}