{% extends 'savejump/base.html' %}

{% block content %}

    <div class="form-container">
        <form action="{% url 'jumpform' %}" method="post" class="cust-form">
           {% csrf_token %}

            <div class="field">
                    <label class="label">Numéro du saut</label>
                    {{form.number}}
            </div>

            <div class="field">
                <label class="label">Hauteur</label>
                {{form.altitude}}
            </div>

            <div class="field">
                <label class="label">Avionr</label>
                {{form.aircraft}}
            </div>

            <div class="field">
                <label class="label">Lieu</label>
                {{form.location}}
            </div>

            <div class="field">
                <label class="label">Type de saut</label>
                {{form.jump_type}}
            </div>

            <div class="field">
                <label class="label">Parachute</label>
                {{form.parachute}}
            </div>

            <div class="field">
                <label class="label">Date</label>
                <div class="control">
                    <span>{{form.jump_date}}</span>
                </div>
            </div>

            <div class="field">
                <label class="label">Commentaire</label>
                <div class="control">
                    <span>{{form.comment}}</span>
                </div>
            </div>

            <input type="submit" value="Valider">
        </form>
    </div>

{% if is_success %}

<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
      <div class="box">
            <span class="has-text-success" style="font-size : 2rem">Le saut a bien été enregistré !</span>
      </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

{% endif %}

{% endblock content %}