{% load static %}

<!-- header -->
    <nav class="navbar has-shadow is-fixed-top is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <img src="{% static 'savejump/images/logo.png' %}" alt="logo" class="logo-menu ml-4">

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item ml-6" href="{% url 'indexSaveJump' %}">
            Accueil
          </a>

          <a class="navbar-item mx-5" href="{% url 'saisie' %}">
            Saisie Saut
          </a>

          <a class="navbar-item mx-5" href="{% url 'jumpform' %}">
            JumpForm
          </a>

          <a class="navbar-item mx-5" href="{% url 'jumplist' %}">
            JumpList
          </a>

          {% if user.groups.all.0.name == 'Moniteurs' %}
          <a class="navbar-item mx-5" href="#">
            Moniteurs
          </a>
          {% endif %}
        </div>
      </div>
      <div class="navbar-end">

        <button>
          <a href="{% url 'login' %}">

            {% if user.is_authenticated %}
                Se déconnecter ({{user.first_name}})
            {% else %}
                Se connecter
            {% endif %}

          </a>
        </button>

      </div>

    </nav>
    <!-- header -->